docker {
    enabled = true
    temp = "auto"
    sudo = true
}

process {
    withLabel: python3 {
        container = "darcyabjones/python3:snptree-${manifest.version}"
    }
    withLabel: posix {
        container = "darcyabjones/posix:snptree-${manifest.version}"
    }
    withLabel: download {
        container = "darcyabjones/download:snptree-${manifest.version}"
    }
    withLabel: htslib {
        container = "darcyabjones/htslib:snptree-${manifest.version}"
    }
    withLabel: bedtools {
        container = "darcyabjones/bedtools:snptree-${manifest.version}"
    }
    withLabel: snpeff {
        container = "darcyabjones/snpeff:snptree-${manifest.version}"
    }
    withLabel: iqtree {
        container = "darcyabjones/iqtree:snptree-${manifest.version}"
    }
}
