singularity {
    enabled = true
}

process {
    withLabel: python3 {
        container = "containers/singularity/python3.sif"
    }
    withLabel: posix {
        container = "containers/singularity/posix.sif"
    }
    withLabel: download {
        container = "containers/singularity/posix.sif"
    }
    withLabel: htslib {
        container = "containers/singularity/htslib.sif"
    }
    withLabel: bedtools {
        container = "containers/singularity/bedtools.sif"
    }
    withLabel: snpeff {
        container = "containers/singularity/snpeff.sif"
    }
    withLabel: iqtree {
        container = "containers/singularity/iqtree.sif"
    }
    withLabel: busco {
        container = "containers/singularity/busco.sif"
    }
    withLabel: decipher {
        container = "containers/singularity/decipher.sif"
    }
    withLabel: occultercut {
        container = "containers/singularity/occultercut.sif"
    }
}

